/*UTILS*/
/*PAGINAS*/
/*TEXTOS*/
/*MIXIN IMAGENES*/
/*MIXIN TEXTOS*/
body {
  background-color: #2F5D62; }

h1 {
  font-family: 'Ultra', serif;
  font-size: 60px;
  color: #f4bc85; }

h2 {
  font-family: 'Ultra', serif;
  font-size: 45px;
  color: wheat; }

h3 {
  font-family: 'Ultra', serif;
  font-size: 30px;
  color: wheat; }

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 35;
  color: #f4bc85; }

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: wheat; }

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: wheat; }

@media (min-width: 576px) {
  h1 {
    width: 25%; } }

@media (min-width: 768px) {
  h1 {
    width: 50%; } }

@media (min-width: 1024px) {
  h1 {
    width: 100%; } }

/*PARTIALS*/
.navbar {
  padding: 10px; }
  .navbar__menu {
    text-align: center;
    padding-right: 20px;
    text-decoration: none; }
    .navbar__menu__item {
      font-style: 'Ultra', serif;
      padding-right: 40px; }
  .navbar .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #f8c07a !important; }

@media (min-width: 576px) {
  .navbar__logo {
    width: 50%; } }

@media (min-width: 768px) {
  .navbar__logo {
    width: 800%; } }

@media (min-width: 1024px) {
  .navbar__logo {
    width: 100%; } }

.fin {
  text-align: center;
  padding: 50px 0 30px 0; }
  .fin__redes {
    margin: 20px 30px 0 30px; }

/*PAGES*/
.principal {
  padding: 100px 0px 0px 30px; }
  .principal__texto {
    animation-duration: 5s;
    animation-name: comienzaTexto; }

@keyframes comienzaTexto {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .principal__foto {
    padding-left: 20px;
    animation-duration: 10s;
    animation-name: comienzaFoto; }

@keyframes comienzaFoto {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (min-width: 576px) {
  .principal__foto {
    width: 25%; } }

@media (min-width: 768px) {
  .principal__foto {
    width: 50%; } }

@media (min-width: 1024px) {
  .principal__foto {
    width: 100%; } }

.vege {
  padding: 100px 15px 20px 30px; }
  .vege__fase {
    padding-top: 50px; }

.flora {
  padding: 100px 15px 20px 30px; }
  .flora__fase {
    padding-top: 50px; }

.instrucciones {
  padding: 100px 15px 20px 30px; }
  .instrucciones__archivos {
    padding-top: 45px; }
    .instrucciones__archivos__pdf {
      color: #c77948;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      margin-top: 20px; }

.medio {
  padding: 100px 15px 20px 30px; }
  .medio__tarjeta {
    padding-top: 45px; }
  .medio__foto {
    border-radius: 100%;
    width: 50%; }
  .medio__texto {
    padding: 10px;
    font-style: oblique; }

@media only screen and (max-width: 1024px) {
  .instrucciones {
    width: 500px; } }

@media only screen and (max-width: 780px) {
  .instrucciones {
    width: 280px; } }

@media only screen and (max-width: 560px) {
  .medicos__lista {
    width: 180px; } }

@media only screen and (max-width: 1024px) {
  .instrucciones {
    width: 500px; } }

@media only screen and (max-width: 780px) {
  .medicos__lista {
    width: 280px; } }

@media only screen and (max-width: 560px) {
  .medicos__lista {
    width: 180px; } }

.galeria {
  padding: 100px 15px 20px 30px; }

.carousel {
  padding: 0% 25%; }

.contacto {
  padding: 100px 15px 20px 30px; }
  .contacto__formulario {
    padding-top: 45px; }
    .contacto__formulario__linea {
      padding: 15px; }
  .contacto__medios {
    margin-top: 30px; }
    .contacto__medios__whatsapp {
      padding-left: 30px; }
    .contacto__medios__direccion {
      padding-left: 30px; }

.tienda {
  padding: 100px 15px 20px 30px; }

.gondola {
  padding: 100px 15px 20px 30px; }
  .gondola__foto {
    border-radius: 100%;
    width: 50%; }
  .gondola__texto {
    padding: 30px;
    font-style: oblique; }

.mejorando__texto {
  padding: 15px 0 30px 0; }
