body {
    font-family: 'Roboto', sans-serif;
    background-color: #2F5D62;
    
   
}

h1{
    color:black;
    font-size: 60px;
    font-family: 'roboto';
    font-weight: bold;
}


h2{
    color:black;
    margin: 100px 0 50px 20px;
    font-size: 45px;
    font-family: 'roboto';
    font-weight: bolder;
}

h3{
    font-family: 'roboto';
}

h4{
    font-style:oblique;
    color: white;
}

p{
    color: black;
    font-family: 'roboto';
    font-weight: lighter;
}