body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right top, #303030, #484848, #626262, #7e7c7d, #9a9898, #acaaaa, #bebcbc, #d0cece, #dbdada, #e7e6e7, #f3f3f3, #ffffff);
   
}

h1{
    color:black;

    margin: 150px 0 0 20px;
    font-size: 60px;
    font-family: 'roboto';
    font-weight: bold;
}


h2{
    color:black;
    margin: 100px 0 50px 20px;
    font-size: 45px;
    font-family: 'roboto';
    font-weight: bolder;
}

h3{
    font-family: 'roboto';
}

h4{
    font-style:oblique;
    color: white;
}

p{
    color: black;
    font-family: 'roboto';
    font-weight: lighter;
}