body {
    background-color: #2F5D62;
    
}

h1{
    font-family:'Ultra', serif;
    @include estilo (60px, #f4bc85)
}

h2{
    font-family:'Ultra', serif; 
    @include estilo (45px, wheat)
}

h3{
    font-family:'Ultra', serif; 
    @include estilo (30px, wheat)
}
 
h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    @include estilo (35, #f4bc85)
}

h6{
    font-family: 'Montserrat', sans-serif;
    @include estilo (15px, wheat)
}

p{
    font-family: 'Montserrat', sans-serif;
    @include estilo (15px, wheat)
}

@media (min-width: 576px) {

    h1{
        width: 25%;
    }
}


@media (min-width: 768px) {
    h1{
        width: 50%;
    }
}


@media (min-width: 1024px) {
    
    h1{
        width: 100%;
    }
}