
/*PAGINAS*/
$margen:  100px 15px 20px 30px;
$separador: 45px;

/*TEXTOS*/
$parrafo-s: 15px;   
$parrafo-m: 20px;
$parrafo-l: 25px;

 /*MIXIN IMAGENES*/
@mixin formato ($borde, $diametro){
    border-radius: $borde;
    width: $diametro;
}
/*MIXIN TEXTOS*/
@mixin estilo ($medida, $gama) {
    font-size: $medida;
    color: $gama
}

@mixin parrafo ($espacios, $letra,) {
    padding: $espacios;
    font-style: $letra;
}



