
.navbar{
    padding: 10px;

    &__menu{
        text-align: center;
        padding-right: 20px;
        text-decoration: none;       
        
        &__item{
            font-style:'Ultra', serif;
            padding-right: 40px;
        }
    }   

    .nav-link{
        font-family: 'Montserrat', sans-serif;
        @include estilo (20px, #f8c07a)
    }
}

@media (min-width: 576px) {

    .navbar__logo{
        width: 50%;
    }
}


@media (min-width: 768px) {
    .navbar__logo{
        width: 800%;
    }
}


@media (min-width: 1024px) {
    
    .navbar__logo{
        width: 100%;
    }
}

