

.contacto{
    padding: $margen;

    &__formulario{
        padding-top: $separador;

        &__linea{
            padding: 15px;
        }
    }

    &__medios{
        margin-top: 30px;

        &__whatsapp{
            padding-left: 30px;
        }

        &__direccion{
            padding-left: 30px;
        }
    }
}