.principal{
    padding: 100px 0px 0px 30px;

    &__texto{
        animation-duration: 5s;
        animation-name: comienzaTexto;
    }
    
    @keyframes comienzaTexto{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    &__foto{
        padding-left: 20px;
        animation-duration: 10s;
        animation-name: comienzaFoto;
    }
    @keyframes comienzaFoto{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
   
@media (min-width: 576px) {

    .principal__foto{
        width: 25%;
    }
}


@media (min-width: 768px) {
    
    .principal__foto{
        width: 50%;
    }
}


@media (min-width: 1024px) {
    
    .principal__foto{
        width: 100%;
    }
}