.principal{
    padding: 100px 0px 0px 30px;

    &__texto{
        animation-duration: 5s;
        animation-name: comienzaTexto;
    }
    @keyframes comienzaTexto{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    &__foto{
        animation-duration: 15s;
        animation-name: comienzaFoto;
    }
    @keyframes comienzaFoto{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
   

 .medio{
     padding-top: 200px;
     &__foto{
         @include formato(100%, 50%)
     }
     &__texto{
        @include parrafo(30px, oblique)
     }
 }

@media only screen and (max-width: 1015px) {
  
    
    .card{
        width: 600px;
    }
}

@media only screen and (max-width: 780px) {
   
        .card{
        width: 480px;
        }   
}

@media only screen and (max-width: 560px) {
   
  
    .card{
        width: 380px;
    }
}