
.instrucciones{
    padding: $margen;



    &__archivos{
        padding-top: $separador;
        
        &__pdf{
            color: #c77948;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
        }
    }

    &__cuadro:hover{
        transform: scale(1.4,1.4);
    }
}


.medio{ 
    padding: $margen;

    &__tarjeta{
        padding-top: $separador
    }

    &__foto{
        @include formato(100%, 50%)
    }
    &__texto{
       @include parrafo(10px, oblique)
    }
}

@media only screen and (max-width: 1024px) {
  
    
    .instrucciones{
        width: 500px;
    }
}

@media only screen and (max-width: 780px) {
   
        .instrucciones{
        width: 280px;
        }   
}

@media only screen and (max-width: 560px) {
   
  
    .medicos__lista{
        width: 180px;
    }
}

@media only screen and (max-width: 1024px) {
  
    
    .instrucciones{
        width: 500px;
    }
}

@media only screen and (max-width: 780px) {
   
        .medicos__lista{
        width: 280px;
        }   
}

@media only screen and (max-width: 560px) {
   
  
    .medicos__lista{
        width: 180px;
    }
}